@model USM.Models.ONIBUS

@{
    ViewBag.Title = "Create";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

}
 
<script>
        function formatar(mascara, documento) {
            var i = documento.value.length;
            var saida = mascara.substring(0, 1);
            var texto = mascara.substring(i)

            if (texto.substring(0, 1) != saida) {
                documento.value += texto.substring(0, 1);
            }

        }
</script>

<H1 id="font-crud">CADASTRAR ÔNIBUS</H1>
<div id="crud-icon"></div>


    <fieldset style="margin-top:15%">
        <legend>Dados do Ônibus</legend>
        <table cellspacing="10" style="background-color: white;">

            <tr>
                <td>
                    <label>Placa: </label>
                </td>
                <td align="left">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PLACA, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PLACA, "", new { @class = "text-danger" })
                    </div>
                </td>


                <td>
                    <label>Empresa: </label>
                </td>
                <td align="left">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EMPRESA, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EMPRESA, "", new { @class = "text-danger" })
                    </div>
                </td>

                <td>
                    <label>Quantidade de Assentos:</label>
                </td>
                <td align="left">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.QTD_ASSENTOS, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.QTD_ASSENTOS, "", new { @class = "text-danger" })
                    </div>
                </td>
            </tr>


        </table>
    </fieldset>
    <br />

    <div class="col-md-offset-2 col-md-10">
        <input id="final-btn" type="submit" value="Cadastrar" class="btn btn-primary" />
    </div>



    @*<div>
            @Html.ActionLink("Back to List", "Index")
        </div>*@




    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
