<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta descrition="author" content="4DEV/Danilo">
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/css/style.css")>
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/Content/bootstrap.css")>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <title>USM</title>
</head>


<body>
    <header class="cabecalho navbar navbar-fixed-top">

        <div id="logo"></div>

        <div class="dropdown" style="margin-left: 14%;">
            <button class="dropbtn">ÔNIBUS</button>
            <div class="dropdown-content">
                <li>@Html.ActionLink("Cadastrar", "Create", "ONIBUS")</li>
                <li>@Html.ActionLink("Consultar", "Index", "ONIBUS")</li>
                <li>@Html.ActionLink("Gerar Relatorio", "Index", "ONIBUS")</li>
                
            </div>
        </div>

        <div class="dropdown" style="margin-left: 30%;">
            <button class="dropbtn">MOTORISTA</button>
            <div class="dropdown-content">

                <li>@Html.ActionLink("Cadastrar", "Create", "MOTORISTA")</li>
                <li>@Html.ActionLink("Consultar", "Index", "MOTORISTA")</li>
                <li>@Html.ActionLink("Gerar Relatório", "Index", "MOTORISTA")</li>
                
            </div>
        </div>

        <div class="dropdown" style="margin-left: 50%;">
            <button class="dropbtn" style="">ROTA</button>
            <div class="dropdown-content">
                <li>@Html.ActionLink("Cadastrar", "Create", "ROTA")</li>
                <li>@Html.ActionLink("Consultar", "Index", "ROTA")</li>
                <li>@Html.ActionLink("Gerar Relatório", "Index", "ROTA")</li>
                               
            </div>
        </div>

        <div class="dropdown" style="margin-left: 68%;">
            <button class="dropbtn">ALUNO</button>
            <div class="dropdown-content">

                <li>@Html.ActionLink("Cadastrar", "Create", "ALUNO")</li>
                <li>@Html.ActionLink("Consultar", "Index", "ALUNO")</li>
                <li>@Html.ActionLink("Gerar Relatório", "Index", "ALUNO")</li>
                 </div>
        </div>

        <div class="dropdown" style="left: 95%; position: fixed;">
            <button class="dropbtn">LOGIN</button>
            <div class="dropdown-content" style="min-width: 72px; text-align: center;">
                <a id="font_size_button" href="login.html">SAIR</a>
            </div>
        </div>
    </header>



 
        @RenderBody()


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


</body>



</html>